
<h1>This is a test </h1>
<div class="row">
<table class = "table table-striped table-bordered">
   <tr>
       <th>ID</th>
       <th>Nom</th>
       <th>Nombre de créneaux</th>
       <th>Nombre de participants</th>
       <th>Nombre de participants par créneaux</th>
   </tr>
   <tr>
       <td>Carmen</td>
       <td>33 ans</td>
       <td>Espagne</td>
       <td>Espagne</td>
       <td>Espagne</td>
       
   </tr>
   <tr>
       <td>Michelle</td>
       <td>26 ans</td>
       <td>Espagne</td>
       <td>Espagne</td>
       
       <td>États-Unis</td>
   </tr>
</table>
</div>
