
<h1>Liste des events </h1>
<div class="row">
<table class = "table table-striped table-bordered">
   <tr>
       <th>Nom</th>
       <th>Nombre de créneaux</th>
       <th>Nombre de participants</th>
       <th>Nombre de participants par créneaux</th>
   </tr>
   <% Event.all.each do |e| %>
   <tr>
       <td><%=e.Nom%></td>
       <td><%=e.Nombre_de_Creneaux%></td>
       <td><%=e.Nombre_de_Participants%></td>
       <td><%=e.Nombre_de_Creneaux_par_Participant%></td>
   </tr>
   <%end%>
</table>
</div>
