<p>
  <strong>Nom :</strong>
  <%=@event.Nom %>
</p>
<p>
  <strong>Nombre_de_Participants :</strong>
  <%=@event.Nombre_de_Participants %>
</p>
<p>
  <strong>Nombre_de_Creneaux :</strong>
  <%=@event.Nombre_de_Creneaux %>
</p>
<p>
  <strong>Nombre_de_Creneaux_par_Participant :</strong>
  <%=@event.Nombre_de_Creneaux_par_Participant %>
</p>