<h1>Liste des Créneaux </h1>
<div class="row">
<table class = "table table-striped table-bordered">
   <tr>
       <th>Heure de Début</th>
       <th>Heure de Fin</th>
       <th>Nombre de Participants</th>
   </tr>
   <% Creneau.all.each do |c| %>
   <tr>
       <td><%=c.date_debut.strftime("%m/%d/%Y : %H:%M")%></td>
       <td><%=c.date_fin.strftime("%m/%d/%Y : %H:%M")%></td>
       <td><%=c.Nombre_de_Participants_Necessaires%></td>
       <td><%= link_to "Modifier", edit_creneau_path(c), :class => "btn btn-warning"%></td>
   </tr>
   <%end%>
</table>
</div>
