.MaBordure
{
	border-right :solid;
    border-width:1px;
    border-color:grey;
}

.navbar
{
  height: 8vh;
}

.btn
{
	font-size: 30px;
}

.decallage
{
	padding-left: 45px;
}

ul
{
    list-style-type: none;
}